mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 16px !important;
  min-width: 300px;
}

h2[mat-dialog-title] {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #7B2020;
}

.form-row {
  width: 100%;
}

.form-row mat-form-field {
  width: 100%;
}

.dos-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

@media (max-width: 480px) {
  .dos-col {
    grid-template-columns: 1fr;
  }
}